
.modal {
padding: 30px;
background: rgba(0,0,0,0.5);
}
.disabledfeature{
color: #8f8f8f;
}

ion-scroll {
  white-space: nowrap;
  height: 100px
}

img{
  margin: 10px;
}

ion-list{
  width: 100%;
  display: inline-block;
}